# Dependências
node_modules/
.pnp
.pnp.js

# Variáveis de ambiente
.env
.env*.local

# Prisma
.prisma/client/
generated/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/Editor
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build
dist/
build/
out/
*.tsbuildinfo

# Sistema
.DS_Store
Thumbs.db

#tests
coverage/
